<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" align="center" style="background-color: #0ff1ce; " >
    <form class="form-signin">
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" /><br><br>
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/><br><br>
      <label class="checkbox">
        <input type="checkbox" value="user" id="rememberMe" name="rememberMe"> USER
        <input type="checkbox" value="hod" id="rememberMe" name="rememberMe"> HOD
        <input type="checkbox" value="admin" id="rememberMe" name="rememberMe"> ADMIN
      </label><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <br>
    </form>
</div>

</body>
</html>