{% extends 'base.html' %}

{% block content %}

<div class="container" align="center" style="background-color: #a3e4d7; padding-bottom:20px; padding-top: 15px;"  >
    <form method="post" action="{% url 'addtrain' %}">
        {% csrf_token %}
      <h2 style="padding-bottom: 15px"><b>CREATE TRAINING PROGRAM</b></h2>

        <label style="font-size: medium"><strong>TRAINING NAME</strong><br>
            <input type="text" class="form-control" name="tname" required="" autofocus="" style="font-size: larger"/>
        </label><br><br>

        <label style="font-size: medium"><strong>DEPARTMENT ORGANISING</strong><br>
            <select class="form-control" name="tdept">
                {% for h in dept %}
                <option value="{{ h.name }}">{{ h.name }}</option>
                {% endfor %}
            </select>
        </label><br><br>

        <label style="font-size: medium"><strong>VENUE</strong><br>
            <input type="text" class="form-control" name="tvenue" required="" style="font-size: larger">
        </label><br><br>

        <label style="font-size: medium"><strong>DATE</strong><br>
            <input type="date" class="form-control" name="tdate" required="" style="font-size: larger">
        </label><br><br>

        <label style="font-size: medium"><strong>TIME</strong><br>
            <input type="time" class="form-control" name="ttime" required="" style="font-size: larger">
        </label><br><br>

        <label style="font-size: medium"><strong>TOPIC</strong><br>
            <input type="text" class="form-control" name="ttopic" required="" style="font-size: larger">
        </label><br><br>

        <label style="font-size: medium"><strong>HEAD OF PROGRAM</strong><br>
            <input type="text" class="form-control" name="thead" required="" style="font-size: larger">
        </label><br><br>

      <button class="btn btn-lg btn-primary btn-block" type="submit">CREATE TRAINING</button>
        <br>
    </form>
    {% if check == "true" %}
    <p><strong>DATA ADDED SUCCESFULLY</strong></p>
    {% endif %}
</div>


{% endblock %}